{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">


  <title>YEET</title>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <h1>Akbar's Library</h1>
  <input id="search" placeholder="Title or Author">
  <button id="searchbutton" type="button" onclick="bookSearch()">Search</button>


  <table style="width:100%" id="results">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Likes</th>
      </tr>
    </thead>

  </table>

  <div id="top5" hidden style="position:absolute">
    <p>yeetyeetyeetyeetyeet123456789</p>
  </div>

  <button id="modalButton" type="button" onclick="updateModal()" data-toggle="modal" data-target="#myModal">Top 5 Books</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Top 5 Books</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" id="modal-body">
          <p>Sorry, you haven't searched anything yet</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>





  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

  </script>

  </script>
</body>

</html>